@import vars

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

::placeholder
  color: #666

::selection
  background-color: $acc-blue
  color: #fff

body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: 1.9
  font-family: $default-font
  overflow-x: hidden
  color: $text
  input, textarea
    border: #666 1px solid
    outline: none
    &:focus:required:invalid
      border-color: red
    &:required:valid
      border-color: green

.img-responsive
  display: block
  max-width: 100%
  height: auto

.text-center
  text-align: center

b, strong
  font-weight: bold

a:hover, a:active, a:focus
  color: inherit
  text-decoration: none

a
  color: $acc-blue
  text-decoration: none
  +mt(.3s)

a, li, button
  outline: none!important

ul
  list-style-type: none
  padding: 0
  margin-bottom: 0

.hidden
  display: none!important
// ======= END TEMPLATE STYLES =======


.btn
  display: inline-block
  line-height: 1
  white-space: nowrap
  text-align: center
  +mt(.3s)
  text-transform: uppercase
  min-width: 212px
  border-width: 2px
  border-style: solid
  color: $text
  padding: 15px
  font-weight: normal
  box-shadow: none
  background-color: transparent
  cursor: pointer

.btn-blue
  border-color: $acc-blue
  &:hover
    color: #fff
    background-color: $acc-blue
  &.disabled
    color: #fff
    background-color: $acc-blue
    filter: grayscale(.5)


.btn-green
  border-color: $acc-green
  &:hover
    color: #fff
    background-color: $acc-green

.btn-blue-filled
  background-color: $acc-blue
  border-color: $acc-blue
  color: #fff
  &:hover
    background-color: darken($acc-blue, 5%)
    border-color: darken($acc-blue, 5%)
    color: #fff

.section-title
  font-size: 32px
  line-height: 1
  font-weight: 700
  margin-bottom: 20px

form
  h2
    font-size: 20px
    line-height: 1.1
    margin-bottom: 20px
    text-align: center
  label
    display: block
  input, textarea
    width: 100%
    color: $text
    &::placeholder
      color: #7b7b7b
    &:focus
      border-color: $acc-blue
    &.error
      color: red!important
      border-color: red!important
      &::placeholder
        color: red!important
  .btn-wrap
    text-align: center
    margin-top: 25px
  .help-block
    display: none!important



.popup-form
  position: relative
  display: block
  background-color: #fff
  margin-left: auto
  margin-right: auto
  max-width: 575px
  outline: 3px solid $acc-green
  outline-offset: 7px
  text-align: center
  padding: 60px 50px 70px
  line-height: 1
  label
    margin-bottom: 14px
  h3
    font-size: 35px
    font-family: "Montserrat", sans-serif
    font-weight: 600
    margin-bottom: 15px
  p
    font-family: "Montserrat", sans-serif
    line-height: 1.5
    font-weight: 300
    margin-bottom: 35px
  .form-labels-wrap
    display: flex
    justify-content: space-between
    label

      width: calc(50% - 7px)
  input, textarea
    padding: 19px 19px 19px 30px
    border-color: #e8e8e8
    resize: none
    &::placeholder
      color: $text
  textarea
    height: 80px



.label-checkbox
  font-size: 14px
  font-weight: 300
  line-height: 1.3
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: 40px!important
  span
    width: calc(100% - 30px)
    text-align: left

.jq-checkbox
  width: 21px
  height: 21px
  border-radius: 0
  border-color: #e8e8e8!important
  box-shadow: none
  background: transparent

.jq-checkbox.checked .jq-checkbox__div
  width: 13px
  height: 8px


//MY_MFP_ZOOM_IN
.my-mfp-zoom-in
  .zoom-anim-dialog, .popup-form
    opacity: 0
    transition: all 0.5s ease-in-out
    transform: scale(0.7)
  &.mfp-ready .zoom-anim-dialog, &.mfp-ready .popup-form
    opacity: 1
    transform: scale(1)
  &.mfp-removing .zoom-anim-dialog, &.mfp-removing .popup-form
    transform: scale(0.7)
    opacity: 0
  &.mfp-bg
    opacity: 0
    transition: opacity 0.5s ease-out
  &.mfp-ready.mfp-bg
    opacity: .9
  &.mfp-removing.mfp-bg
    opacity: 0


.preloader
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 999
  display: flex
  justify-content: center
  align-items: center
  background-color: #e8e8e8

.sk-chasing-dots
  width: 4em
  height: 4em
  position: relative
  margin: auto
  text-align: center
  animation: sk-chasing-dots-rotate 2s infinite linear

.sk-chasing-dots .sk-child
  width: 2em
  height: 2em
  display: inline-block
  position: absolute
  top: 0
  border-radius: 100%
  animation: sk-chasing-dots-bounce 2s infinite ease-in-out

.sk-chasing-dots .sk-dot-1
  background-color: $acc-blue

.sk-chasing-dots .sk-dot-2
  top: auto
  bottom: 0
  animation-delay: -1s
  background-color: #ffce54


@-webkit-keyframes sk-chasing-dots-rotate
  100%
    transform: rotate(360deg)

@keyframes sk-chasing-dots-rotate
  100%
    transform: rotate(360deg)

@-webkit-keyframes sk-chasing-dots-bounce
  0%, 100%
    transform: scale(0)
  50%
    transform: scale(1)

@keyframes sk-chasing-dots-bounce
  0%, 100%
    transform: scale(0)
  50%
    transform: scale(1)


.breadcrumbs
  font-size: 14px
  font-weight: 300
  line-height: 1
  padding: 20px 0
  a
    display: inline-block
    color: #c7c7c7
    &:hover
      color: $acc-blue
    &:after
      content: ' |'
      color: #c7c7c7
    &:last-child
      color: $text
      pointer-events: none
      &:after
        display: none

.page-title
  font-size: 30px
  line-height: 1
  margin-bottom: 10px

.page-desc
  font-weight: 300
  line-height: 1.25
  margin-bottom: 30px

.with-before
  position: relative
  &:before
    content: ''
    position: absolute
    height: 100%
    width: calc(70px + ((100vw - 1140px)/2))
    right: 0
    background-repeat: repeat-y
    background-position: 48px -100px
  &-stocks
    &:before
      background-color: #ff5465
      background-image: url('../img/stocks-before-bg.png')
  &-news
    &:before
      background-color: $acc-green
      background-image: url('../img/news-before-bg.png')
  &-contacts
    &:before
      background-color: #3e4954
      background-image: url('../img/contacts-before-bg.png')
  &-production
    &:before
      background-color: $acc-blue
      background-image: url('../img/production-before-bg.png')