@import vars


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)

  .s-intro
    height: 440px

  .intro-content
    width: 100%
    padding: 35px



  .head-content-wrapper
    &:after
      width: calc((100vw - 930px)/2)
      right: calc(0px - (100vw - 930px)/2)

  .mnu-line
    display: none

  .topline
    flex-wrap: wrap
    .contacts
      width: 50%
      margin-top: 20px
      a
        text-align: left
    .btn
      margin-top: 20px

  .hamburger
    display: block

// ≥992px
+media-breakpoint-down(md)

  .s-intro
    height: 360px

  .intro-content
    h1
      font-size: 28px
    p
      font-size: 16px

  .head-content-wrapper
    &:after
      width: calc((100vw - 690px)/2)
      right: calc(0px - (100vw - 690px)/2)

  .search-form
    width: 180px
    input
      padding-left: 5px
      padding-right: 5px

  .topline
    .address
      width: 180px
      font-size: 13px


// ≥768px
+media-breakpoint-down(sm)

  .hamburger
    order: 0

  .topline
    .address
      order: 1
      margin-top: 5px


  .mobile-logo
    display: block
    width: 130px

  .head-logo-wrapper
    display: none
  .head-content-wrapper
    width: 100%
    padding-top: 15px
    &:after
      width: calc((100vw - 510px)/2)
      right: calc(0px - (100vw - 510px)/2)



// ≥480px
+media-breakpoint-down(xs)

  .s-intro
    height: 300px

  .intro-left
    display: none

  .intro-right
    width: 100%!important

  .intro-content
    padding: 35px 15px
    

  .head-content-wrapper
    padding-left: 10px
    padding-right: 10px
    &:after
      display: none

  .search-form
    order: 1
    width: 100%

  .topline
    padding-left: 0
    .contacts
      order: 2
      margin-top: 10px
      width: 100%
      a
        text-align: center
    .btn
      order: 3
      margin-left: auto
      margin-right: auto
    .address
      width: 100%
      text-align: center
      margin-top: 15px

  .mobile-logo
    margin-bottom: 10px


/*==========  Mobile First  ==========*/

// ≤480px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
